extends base.pug

block body
  .row
    .col-md-2
      nav(class="nav nav-pills flex-column")
        a(class="nav-link" href="/p/trips") Trips
        a(class="nav-link" href="/p/account") Account
    .col-md-10
      block content
