.app-sidebar {
  background-color: #f5f3f0;
}

.app-sidebar-controls {
  display: flex;
  flex-direction: column;
}

.app-sidebar-controls > * {
  margin-top: 5px;
}

.table-button {
  display: inline-block;
  color: #0000ff;
  cursor: pointer;
}

.table-button:hover {
  text-decoration: underline;
}

.logout-btn {
  margin-top: 50px;
}
